<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body class="">

    {{> header }}

    {{> body }}

    {{> footer }}


    <div class="overlay  overlay-none" id="js-overlay">
        <div class="modal">
            <div class="modal__close" id="js-close">
                <img src="./assets/img/modal/close.svg" alt="Крестик">
            </div>
            <h3 class="modal__title">
                Ваша заявка принята!
            </h3>
            <p class="modal__text">
                В ближайшее время, менеджер свяжется с вами
            </p>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="./assets/libs/jquery.maskedinput.min.js"></script>
    <script src="assets/js/app.min.js"></script>

</body>

</html>