<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__logo">
                <img src="./assets/img/footer/logo-mini 1.jpg" alt="Логотип мини">
            </div>

            <div class="footer__info">
                <div class="footer__info-phone">
                    <a href="tel:+79999999999">
                        <img src="./assets/img/footer/phone.svg" alt="Телефон">
                        +7 (999) 999-99-99
                    </a>
                </div>
                <div class="footer__info-work">
                    Режим работы: 9:00 - 17:00
                </div>
            </div>

            <div class="footer__info-two">
                <div class="footer__info-mail">
                    <a href="mailto:info@xxxxxxxxxx.ru">
                        <img src="./assets/img/footer/mail.svg" alt="Почта">
                        info@xxxxxxxxxx.ru
                    </a>
                </div>
                <div class="footer__social">
                    <a href="#">
                        <img src="./assets/img/footer/instagramm.svg" alt="Инстаграмм">
                    </a>
                    <a href="#">
                        <img src="./assets/img/footer/faceebock.svg" alt="Фейсбук">
                    </a>
                    <a href="#">
                        <img src="./assets/img/footer/whatsapp.svg" alt="Ватсап">
                    </a>
                </div>
            </div><!-- footer__mail -->

        </div><!-- footer__inner -->
    </div><!-- container -->
</div><!-- footer -->