<header class="header">
    <div class="container">

        <div class="header__inner">

            <div class="header__logo">
                <a href="/">
                    <img src="./assets/img/logo.png" alt="Логотип">
                </a>
            </div>

            <div class="header__flex">
                <div class="header__info">
                    <div class="header__info-phone">
                        <a href="tel:+79999999999">
                            <img src="./assets/img/header/phone.svg" alt="Телефон">
                            +7 (999) 999-99-99
                        </a>
                    </div>
                    <div class="header__info-work">
                        Режим работы: 9:00 - 17:00
                    </div>
                </div>

                <div class="header__mail">
                    <a href="mailto:info@xxxxxxxxxx.ru">
                        <img src="./assets/img/header/email.svg" alt="Почта">
                        info@xxxxxxxxxx.ru
                    </a>
                </div>
            </div>

        </div><!-- header__inner -->

    </div><!-- container -->
</header><!-- header -->